@quid:registry=https://quid.jfrog.io/quid/api/npm/npm-quid/
//quid.jfrog.io/quid/api/npm/npm-quid/:_auth=YXV0b21hdGVkLnJlYWQ6QVAyRGdySnBicXhHTFlFeWJ5U2JocnFTOEtBVGQ0Nm5EZjZVQWc
//quid.jfrog.io/quid/api/npm/npm-quid/:username=automated+read@quid.com
//quid.jfrog.io/quid/api/npm/npm-quid/:email=automated.read
//quid.jfrog.io/quid/api/npm/npm-quid/:always-auth=true
