@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('ibmplexsans-regular-webfont.woff2') format('woff2'),
    url('ibmplexsans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('ibmplexsans-italic-webfont.woff2') format('woff2'),
    url('ibmplexsans-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('ibmplexsans-semibold-webfont.woff2') format('woff2'),
    url('ibmplexsans-semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('ibmplexsans-semibolditalic-webfont.woff2') format('woff2'),
    url('ibmplexsans-semibolditalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('ibmplexserif-regular-webfont.woff2') format('woff2'),
    url('ibmplexserif-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('ibmplexserif-italic-webfont.woff2') format('woff2'),
    url('ibmplexserif-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('ibmplexserif-semibold-webfont.woff2') format('woff2'),
    url('ibmplexserif-semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('ibmplexserif-semibolditalic-webfont.woff2') format('woff2'),
    url('ibmplexserif-semibolditalic-webfont.woff') format('woff');
}
