@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;
  src: url('ibmplexsans-regular-webfont.woff2') format('woff2'),
    url('ibmplexsans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: italic;
  src: url('ibmplexsans-italic-webfont.woff2') format('woff2'),
    url('ibmplexsans-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: normal;
  src: url('ibmplexsans-bold-webfont.woff2') format('woff2'),
    url('ibmplexsans-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: italic;
  src: url('ibmplexsans-bolditalic-webfont.woff2') format('woff2'),
    url('ibmplexsans-bolditalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-style: normal;
  src: url('ibmplexserif-regular-webfont.woff2') format('woff2'),
    url('ibmplexserif-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-style: italic;
  src: url('ibmplexserif-italic-webfont.woff2') format('woff2'),
    url('ibmplexserif-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-style: normal;
  src: url('ibmplexserif-bold-webfont.woff2') format('woff2'),
    url('ibmplexserif-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-style: italic;
  src: url('ibmplexserif-bolditalic-webfont.woff2') format('woff2'),
    url('ibmplexserif-bolditalic-webfont.woff') format('woff');
}
