@font-face {
  font-family: 'quid-icons';
  src: url('quid-icons.ttf') format('truetype'),
    url('quid-icons.woff') format('woff'),
    url('quid-icons.svg#quid-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
